.sidebar {
    border-right: 1px solid var(--mat-divider-color, var(--mat-sys-outline-variant));
    margin-top: 1rem;
    width: 72px;
    transition: width 0.2s ease;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 76px);
}

.sidebar.expanded {
    width: 220px;
    & nav a {
        justify-content: left;
    }
    & .toggle-btn {
        margin-right: 0px;
        margin-left: auto;
    }
}

.active-route {
    background-color: rgb(0, 0, 0, 0.1);
}

.sidebar .toggle-btn {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: transparent;
    background: transparent;
    margin: 0 auto;
}

.sidebar nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 0.4rem;
    margin: 0.4rem;
    .mat-icon {
        margin: 0px;
    }
}

.sidebar nav a .label {
    margin-left: 0.75rem;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0px 0.75rem;
}

.connected-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    .connected-card__description {
        display: flex;
        flex-direction: column;
        & p {
            color: grey;
            font-size: 10px;
            margin: 0;
            max-width: 140px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}
