<h1>Settings</h1>

<app-wrapper>
  @if (this.isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <app-wrapper>
      <div class="form-container" formGroupName="profileForm">
        <h2 class="form-container__span2">Personal Information</h2>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
          <mat-error>First Name is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error>Last Name is required.</mat-error>
        </mat-form-field>
        <mat-form-field class="form-container__span2" appearance="outline">
          <mat-label>Headline</mat-label>
          <input matInput formControlName="headline" />
          <mat-error>Headline is required.</mat-error>
        </mat-form-field>
        <mat-form-field class="form-container__span2" appearance="outline">
          <mat-label>Profile Image URL</mat-label>
          <input matInput formControlName="profileImage" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="dateOfBirth" />
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <input matInput formControlName="location" />
        </mat-form-field></div
    ></app-wrapper>
    <app-wrapper
      ><div class="form-container" formGroupName="contactForm">
        <h2 class="form-container__span2">Contact Information</h2>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" #email />
          <mat-error>Please type a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>
        <mat-form-field class="form-container__span2" appearance="outline">
          <mat-label>Website</mat-label>
          <input matInput formControlName="website" #website />
          <mat-error>Please type a valid website URL or leave blank.</mat-error>
        </mat-form-field>
      </div></app-wrapper
    >
    <app-wrapper
      ><div class="form-container" formGroupName="aboutForm">
        <h2>About</h2>
        <mat-form-field class="form-container__span2" appearance="outline">
          <mat-label>About</mat-label>
          <textarea matInput formControlName="about" #about></textarea>
          <mat-error>Please type at least 20 characters or leave blank.</mat-error>
        </mat-form-field>
      </div>
    </app-wrapper>
    <section class="buttons-section">
      <button
        [appSaveForm]="message"
        matButton="tonal"
        type="submit"
        [disabled]="isLoading || settingsForm.invalid || settingsForm.pristine"
      >
        Update profile
      </button>
      @if (this.settingsForm.invalid || this.settingsForm.pristine) {
        <button
          matIconButton
          [appSettingsInfo]="this.settingsForm.pristine ? 'No fields modified yet.' : null"
          type="button"
        >
          <mat-icon>info</mat-icon>
        </button>
      }
    </section>
  </form>
</app-wrapper>
