<mat-card appearance="outlined">
  <div class="profile-header__background"></div>
  <mat-card-content class="profile-header__content">
    <app-avatar firstName="Mihai" lastName="Ion" [size]="84"></app-avatar>
    <section class="profile-header__content_text">
      <h2>Mihai Ion</h2>
      <p class="subheading">FE Developer | TS Enthusiast</p>
      <p class="subheading">
        <mat-icon class="field-icon default-color">location_on</mat-icon>Cluj-Napoca, RO
      </p>
      <p class="subheading blue">
        <mat-icon class="field-icon">groups</mat-icon> <strong>54</strong> connections
      </p>
    </section>
    <mat-divider></mat-divider>
    <section class="card-section">
      <p class="subheading blue"><mat-icon class="field-icon">mail</mat-icon> mihaidum@gmail.com</p>
      <p class="subheading">+40 744 444 444</p>
      <p class="subheading blue">
        <mat-icon class="field-icon">link</mat-icon> https://dsadsds.com
      </p>
    </section>
  </mat-card-content>
</mat-card>
