.wrapper-content {
    border-radius: 1rem;
    min-height: 12rem;
    background: var(--mat-sys-surface-container-high);
    box-shadow: 0px 2px 4px 1.5px rgba(108, 108, 108, 0.2);
    padding: 24px;
}
