body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-dark-gray);
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header header header'
    'nav nav nav'
    'aside main main'
    'footer footer footer';
  gap: var(--spacing-medium);
  min-height: 100vh;
  padding: var(--spacing-medium);
  background-color: var(--color-light-gray);
}

.header {
  grid-area: header;
  background: var(--color-christmas-green);
  color: var(--color-snow-white);
  padding: var(--spacing-large);
  text-align: center;
  border-radius: var(--border-radius);
}

.nav {
  grid-area: nav;
  background-color: var(--color-snow-white);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
}

.main {
  grid-area: main;
  background-color: var(--color-snow-white);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
}

.aside {
  height: fit-content;
  grid-area: aside;
  background-color: var(--color-snow-white);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
}

.footer {
  grid-area: footer;
  background-color: var(--color-christmas-green);
  color: var(--color-snow-white);
  text-align: center;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
}

.shadow {
  box-shadow: 4px 4px 12px var(--color-shadow);
}

.nav h2 {
  margin-top: 0px;
  color: var(--color-christmas-green);
}

button {
  cursor: pointer;
  border: var(--border-size) solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 8px;
}

button:disabled {
  cursor: not-allowed;
}

button.success {
  color: var(--color-snow-white);
  background-color: var(--color-christmas-red);
}

button.fail {
  color: var(--color-snow-white);
  background-color: var(--color-dark-gray);
}

button.disabled {
  cursor: not-allowed;
  color: var(--color-snow-white);
  background-color: var(--color-light-gray);
}

.aside h2,
h3 {
  color: var(--color-christmas-red);
}

.aside h2 {
  margin-top: 0px;
}
