.statistic-category {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px 12px;
}

.statistic-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

h2 {
    color: #2c3e50;
    font-size: 32px;
}
