.table {
    display: grid;
    grid-template-columns: var(--table-columns);

    max-height: 75vh;
    overflow: auto;
}

.table-header {
    position: sticky;
    top: 0;

    display: grid;
    grid-column: 1 / span 12;
    grid-template-columns: var(--table-columns);

    color: white;
    padding: 12px 8px;
    background-color: #2c3e50;
}

.table-row {
    display: grid;
    grid-column: 1 / span 12;
    grid-template-columns: var(--table-columns);
}
