.sidebar {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 4rem 0px;
    gap: 1.5rem;

    height: 100vh;

    width: 80px;
    background-color: #1e2b38;
    position: fixed;
    z-index: 1000;

    overflow-y: auto;
    scrollbar-width: none;

    a {
        font-size: 28px;
        text-decoration: none;

        padding: 8px 4px;

        &.active-link {
            border-radius: 8px;
            background-color: rgba(46, 117, 113, 0.267);
        }

        &.active-link::before {
            content: "";
            position: absolute;
            left: -5px;
            padding: 20px 4px;
            border-radius: 8px;
            background-color: rgb(57, 147, 143);
        }
    }
}
