/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  /* Column widths */
  --col-id-width: 70px;
  --col-survived-width: 80px;
  --col-pclass-width: 50px;
  --col-name-width: 500px;
  --col-sex-width: 60px;
  --col-age-width: 60px;
  --col-sibsp-width: 70px;
  --col-parch-width: 70px;
  --col-ticket-width: 180px;
  --col-fare-width: 80px;
  --col-cabin-width: 80px;
  --col-embarked-width: 120px;

  --table-columns: var(--col-id-width) var(--col-survived-width) var(--col-pclass-width) var(--col-name-width)
    var(--col-sex-width) var(--col-age-width) var(--col-sibsp-width) var(--col-parch-width) var(--col-ticket-width)
    var(--col-fare-width) var(--col-cabin-width) var(--col-embarked-width);
}

button {
  padding: 12px 24px;
  border: 2px solid #2c3e50;
  border-radius: 8px;
  background-color: transparent;
  color: #2c3e50;
  font-weight: 600;
}

button.fill {
  color: white;
  background-color: #2c3e50;
}

button:hover {
  cursor: pointer;
  background-color: #dbe2e9;
}

button.fill:hover {
  background-color: #2d363f;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
