@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-dark-gray);
  font-family: 'Roboto', Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header header header'
    'nav nav nav'
    'aside main main'
    'footer footer footer';
  gap: var(--spacing-medium);
  min-height: 100vh;
  padding: var(--spacing-medium);
  background-color: var(--color-light-gray);
}

.header {
  grid-area: header;
  background: var(--color-christmas-green);
  color: var(--color-snow-white);
  padding: var(--spacing-large);
  text-align: center;
  border-radius: var(--border-radius);
}

.nav {
  grid-area: nav;
  background-color: var(--color-snow-white);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
}

.main {
  grid-area: main;
  background-color: var(--color-snow-white);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
}

.aside {
  height: fit-content;
  grid-area: aside;
  background-color: var(--color-snow-white);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
}

.footer {
  grid-area: footer;
  background-color: var(--color-christmas-green);
  color: var(--color-snow-white);
  text-align: center;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
}

.shadow {
  box-shadow: 4px 4px 12px var(--color-shadow);
}

button {
  cursor: pointer;
  border: var(--border-size) solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 8px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button.success {
  color: var(--color-snow-white);
  background-color: var(--color-christmas-red);
}

button.fail {
  color: var(--color-snow-white);
  background-color: var(--color-dark-gray);
}

button.disabled {
  cursor: not-allowed;
  color: var(--color-snow-white);
  background-color: var(--color-light-gray);
}

/* tablet */
@media (max-width: 1024px) {
  .container {
    grid-template-areas:
      'header header header'
      'nav nav nav'
      'main main main'
      'aside aside aside'
      'footer footer footer';
  }
}
