:root {
  --color-christmas-red: #c41e3a;
  --color-christmas-green: #165b33;
  --color-gold: #ffd700;
  --color-snow-white: #ffffff;
  --color-light-gray: #f5f5f5;
  --color-dark-gray: #333333;
  --color-border: #ddd;
  --color-shadow: rgba(0, 0, 0, 0.1);

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;

  --border-size: 1px;
  --border-radius: 5px;
  --border-radius-full: 50%;

  --border-radius-bottom: 0px 0px 5px 5px;
  --border-radius-top: 5px 5px 0px 0px;

  --transition-speed: 0.3s;

  --padding-small: 4px 8px;
  --padding-medium: 8px 16px;
  --padding-large: 16px 32px;

  --font-base: 400;
  --font-bold: 600;

  --font-size-xxs: 10px;
  --font-size-xs: 11px;
  --font-size-small: 12px;
  --font-size-base: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-xl: 32px;
}
