:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

main {
  overflow-x: hidden;
}

.main-content {
  padding: 40px 16px;
  display: flex;
  align-items: stretch;

  margin-top: 60px;
  flex-direction: column;

  width: 100%;
}
