:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

main {
  overflow-x: hidden;
}

.main-content {
  padding: 40px 16px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;

  margin-top: 60px;

  width: calc(100vw - 80px);
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
