:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.main-content {
  margin-top: 60px;
  padding: 40px 16px;
  width: 100%;
  overflow: hidden;
  display: flex;
  // align-items: center;
  // justify-content: center;
  flex-direction: column;
}

app-main-table {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  height: 100%;
}
