.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-blue);
  color: white;
  border-radius: 50%;

  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;

  font-weight: 500;
}
