.dark-mode-switch {
  display: flex;
  position: absolute;
  top: 32px;
  right: 36px;
}

.dark-mode-switch:hover {
  cursor: pointer;
}

.dark-mode-switch .line {
  display: flex;
  position: relative;
  width: 28px;
  height: 12px;
  border-radius: 50px;
  background-color: var(--color-light-gray);
}

.line .mode {
  position: absolute;
  width: 24px;
  height: 24px;
  top: -6px;
  border-radius: var(--border-radius-full);
  background-color: var(--color-snow-white);

  display: flex;
  align-items: center;
  justify-content: center;
}

.mode.left {
  left: -6px;
}

.mode.right {
  right: -6px;
}

#dark-mode i {
  color: var(--color-dark-gray);
}
