<div class="cell">
  {{ passenger.passengerId }}
</div>
<div class="cell">
  {{ passenger.survived | alive }}
</div>
<div class="cell">
  {{ passenger.pclass }}
</div>
<div class="cell">
  {{ passenger.name | fullname }}
</div>
<div class="cell">
  {{ passenger.sex }}
</div>
<div class="cell">
  {{ passenger.age }}
</div>
<div class="cell">
  {{ passenger.sibsp }}
</div>
<div class="cell">
  {{ passenger.parch }}
</div>
<div class="cell">
  {{ passenger.ticket }}
</div>
<div class="cell">
  {{ passenger.fare | currency }}
</div>
<div class="cell">
  {{ passenger.cabin }}
</div>
<div class="cell">
  {{ passenger.embarked | fullcity }}
</div>
