.table {
    display: grid;
    grid-template-columns: var(--table-columns);

    max-height: 75vh;
    overflow: auto;

    border: 1px solid black;

    border-radius: 8px;

    max-width: fit-content;
}

.table-header {
    position: sticky;
    top: 0;

    display: grid;
    grid-column: 1 / span 12;
    grid-template-columns: var(--table-columns);

    color: white;
    background-color: #2c3e50;
}

.table-body {
    display: grid;
}

.table-row {
    display: grid;
    grid-column: 1 / span 12;
    grid-template-columns: var(--table-columns);
}

.table-row:hover {
    cursor: pointer;
    background-color: gray;
}
