<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <app-wrapper>
    <div class="alignment">
      <h2>Register</h2>
      <div class="form-container">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
          <mat-error>First Name is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error>Last Name is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error>Email is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
          <button
            matIconButton
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>Password is required.</mat-error>
        </mat-form-field>
      </div>
      <section class="buttons-section">
        <button matButton="filled" type="submit" [disabled]="disabledRegister">Register</button>
        <button matButton="outlined" type="button" (click)="onLoginClick()">Back to login</button>
      </section>
    </div>
  </app-wrapper>
</form>
