.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    background-color: #2c3e50;
}

.category {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
