<article class="card flex-center">
  <header class="flex-center">
    <h2>{{ passenger.name }}</h2>
    <h4>Passenger #{{ passenger.passengerId }}</h4>
  </header>
  <section class="info flex-center">
    <app-data-container
      [title]="'Personal Information'"
      [cell1Title]="'Survived:'"
      [cell1Data]="passenger.survived | alive"
      [cell2Title]="'Sex:'"
      [cell2Data]="passenger.sex"
      [cell3Title]="'Age:'"
      [cell3Data]="passenger.age + ''"
      [cell4Title]="'Class:'"
      [cell4Data]="passenger.pclass + ''"
    ></app-data-container>

    <app-data-container
      [title]="'Family Information'"
      [cell1Title]="'Siblings/spouses aboard:'"
      [cell1Data]="passenger.sibsp + ''"
      [cell2Title]="'Parents/children aboard:'"
      [cell2Data]="passenger.parch + ''"
      [cell3Title]="'Total family members:'"
      [cell3Data]="passenger.sibsp + passenger.parch + ''"
    ></app-data-container>

    <app-data-container
      [title]="'Ticket Information'"
      [cell1Title]="'Ticket number:'"
      [cell1Data]="passenger.ticket"
      [cell2Title]="'Fare:'"
      [cell2Data]="(passenger.fare | currency: 'GBP') ?? 'Unknown'"
      [cell3Title]="'Cabin:'"
      [cell3Data]="(passenger.cabin === '' ? 'Not Assigned' : passenger.cabin) ?? 'Invalid'"
      [cell4Title]="'Embarked:'"
      [cell4Data]="passenger.embarked | fullcity"
    ></app-data-container>
  </section>
</article>
