<article class="container">
  <button type="button" class="back-button" (click)="goBackToTable()"><- Back to Passengers</button>

  <div *ngIf="!(passenger$ | async)" class="card flex-center">Loading passenger..</div>

  <div *ngIf="passenger$ | async as passenger" class="card flex-center">
    <header class="flex-center">
      <h2>{{ passenger.name }}</h2>
      <h4>Passenger #{{ passengerId }}</h4>
    </header>
    <section class="info flex-center">
      <app-data-container
        *ngFor="let passengerSection of passenger.sections"
        [title]="passengerSection.title"
        [cells]="passengerSection.cells"
      ></app-data-container>
    </section>
  </div>
</article>
