.container {
    width: 624px;
    max-width: 100%;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgb(188, 188, 188);
}

header {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    color: white;
    background-color: #2c3e50;
    padding: 32px 0px;
}

app-data-container,
.info {
    width: 100%;
}

.back-button {
    margin-bottom: 12px;
}
