/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  /* Column widths */
  --col-id-width: 70px;
  --col-survived-width: 80px;
  --col-pclass-width: 50px;
  --col-name-width: 500px;
  --col-sex-width: 60px;
  --col-age-width: 60px;
  --col-sibsp-width: 70px;
  --col-parch-width: 70px;
  --col-ticket-width: 180px;
  --col-fare-width: 80px;
  --col-cabin-width: 80px;
  --col-embarked-width: 120px;

  --table-columns: var(--col-id-width) var(--col-survived-width) var(--col-pclass-width) var(--col-name-width)
    var(--col-sex-width) var(--col-age-width) var(--col-sibsp-width) var(--col-parch-width) var(--col-ticket-width)
    var(--col-fare-width) var(--col-cabin-width) var(--col-embarked-width);
}
