.category {
    display: grid;
    padding: 16px 24px;
    gap: 12px;
    border-bottom: 1px solid #dddddd;
    grid-template-columns: 1fr 1fr;
}

.content-cell p:first-child {
    color: #707374;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
}

.content-cell p:last-child {
    color: #3b5565;
    font-weight: 600;
    font-size: 12px;
    text-transform: capitalize;
}
