<h1>Network</h1>
<app-wrapper>
  @if (this.loadingCompanies) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input
      matInput
      [(ngModel)]="searchValue"
      (keyup)="applyFilter($event)"
      placeholder="Ex. Ion Popescu"
    />
  </mat-form-field>
  <table mat-table [dataSource]="companiesAvailable" class="mat-elevation-z8">
    <!-- Company Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef>Company</th>
      <td mat-cell *matCellDef="let comp">
        <div class="name-cell">
          <mat-icon>corporate_fare</mat-icon> <strong>{{ comp.name }}</strong>
        </div>
      </td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let comp">
        {{ comp.location }}
      </td>
    </ng-container>

    <!-- Website Column -->
    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef>Website</th>
      <td mat-cell *matCellDef="let comp">
        <a [href]="comp.website" target="_blank">{{ comp.website }}</a>
      </td>
    </ng-container>

    <!-- Open Jobs Column -->
    <ng-container matColumnDef="open_jobs">
      <th mat-header-cell *matHeaderCellDef>Open Jobs</th>
      <td mat-cell *matCellDef="let comp">{{ comp.jobsCount }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="totalCompanies"
    [pageSize]="itemsPerPage"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[10, 50, 100]"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</app-wrapper>
