.stats {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.stat-item {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-medium) var(--spacing-small);
  border-radius: var(--border-radius);
  background-color: var(--color-card-header);
  font-size: var(--font-size-base);
  font-weight: var(--font-bold);
}

.stat-item strong {
  color: var(--color-christmas-green);
  font-size: var(--font-size-medium);
  font-weight: var(--font-bold);
}

.aside h2,
h3 {
  color: var(--color-christmas-red);
}

.aside h2 {
  margin-top: 0px;
}
