ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    list-style: none;
    padding: 12px 8px;
    background-color: #2c3e50;
}

.passengerId-column {
    width: var(--col-id-width);
}

.survived-column {
    width: var(--col-survived-width);
}

.pclass-column {
    width: var(--col-pclass-width);
}

.name-column {
    width: var(--col-name-width);
}

.sex-column {
    width: var(--col-sex-width);
}

.age-column {
    width: var(--col-age-width);
}

.sibsp-column {
    width: var(--col-sibsp-width);
}

.parch-column {
    width: var(--col-parch-width);
}

.ticket-column {
    width: var(--col-ticket-width);
}

.fare-column {
    width: var(--col-fare-width);
}

.cabin-column {
    width: var(--col-cabin-width);
}

.embarked-column {
    width: var(--col-embarked-width);
}
