<h1>Settings</h1>

<app-wrapper>
  @if (this.isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <app-wrapper>
      <div class="form-container" formGroupName="profileForm">
        <h2 class="form-container__span2">Personal Information</h2>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
          <mat-error>First Name is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error>Last Name is required.</mat-error>
        </mat-form-field>
        <mat-form-field class="form-container__span2" appearance="outline">
          <mat-label>Headline</mat-label>
          <input matInput formControlName="headline" />
          <mat-error>Headline is required.</mat-error>
        </mat-form-field>
        <mat-form-field class="form-container__span2" appearance="outline">
          <mat-label>Profile Image URL</mat-label>
          <input matInput formControlName="profileImage" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="dateOfBirth" />
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <input matInput formControlName="location" />
        </mat-form-field></div
    ></app-wrapper>
    <app-wrapper
      ><div class="form-container" formGroupName="contactForm">
        <h2 class="form-container__span2">Contact Information</h2>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" #email />
          <mat-error>{{ email.validationMessage }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>
        <mat-form-field class="form-container__span2" appearance="outline">
          <mat-label>Website</mat-label>
          <input matInput formControlName="website" />
        </mat-form-field></div
    ></app-wrapper>
    <app-wrapper
      ><div class="form-container" formGroupName="aboutForm">
        <h2>About</h2>
        <mat-form-field class="form-container__span2" appearance="outline">
          <mat-label>About</mat-label>
          <textarea matInput formControlName="about"></textarea>
        </mat-form-field>
      </div>
    </app-wrapper>
    <button matButton="tonal" type="submit" [disabled]="isLoading || !settingsForm.valid">
      Update profile
    </button>
    @if (message) {
      <p>{{ message }}</p>
    }
  </form>
</app-wrapper>
