.form-container {
    display: grid;
    column-gap: 1rem;
    row-gap: 0.25rem;
    grid-template-columns: repeat(2, 1fr);
}

.form-container__span2 {
    grid-column: span 2;
}

.center {
    display: block;
    margin: 24px auto;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
